.head
{
	background-image: url('PhotoBase/Mark/cityground.jpg');
	float: left;
	position: relative;
	width: 1000px; 
	height: 200px;
	padding-top: 0px;
	border-bottom: solid 5px black;
	overflow: hidden;
	margin-top: -20px;
}

p{
	color: white;
	margin: auto; 
	font: oblique bold 50% cursive;
	font-size: 50px;
}	

#fondo
{
	float: right;
	margin-top: 30px;
	width: 480px;
	height: 150px;
}

.slide
{
	display: inline-block;
}

#album
{
	background-color: gray;
	width: 500px;
	height: 50px;	
	position: absolute;
	margin-top: 150px;
	color: white;
	font: oblique bold 50% monospace;
	font-size: 35px;
}

.selector
{
	width: 60px;
	height: 60px;
	text-align: center;	
}

#texto
{
	color: black;
	font: oblique bold 50% cursive;
	font-size: 30px;
	margin-top: 200px;
}

#product
{
	width: 300px;
	height: 350px;
}

#cajilla
{
	width: 300px;
	height: 350px;
	display: inline-block;
}

#back
{
	background-image: url('PhotoBase/Mark/Comeback.jpg');
	width: 100px;
	height: 80px;
	border-radius: 200px;
	margin-left: 200px;
	position: absolute;
}

#go
{
	background-image: url('PhotoBase/Mark/Goside.jpg');
	width: 100px;
	height: 80px;
	border-radius: 200px;
	margin-right: 200px; 
	float: right;
}

#boton
{
	background-color: black; 
	margin: auto 0px;
	margin-left: 325px; 
	margin-top: 0px;
	display: inline;
	width: 315px; 
	height: 80px;
	color: white;
	font-size: 25px;
	border-radius: 30px;
	border-color: inset 5px black;
	text-align: center;
	padding-top: 10px;
}

#carrito
{
	width: 50px;
	height: 50px;
	display: inline;
	float: right;
	border-radius: 200px;
	margin-top: -10px;
	margin-right: 20px;
}#back
{
	background-image: url('PhotoBase/Mark/Comeback.jpg');
	width: 100px;
	height: 80px;
	border-radius: 200px;
	margin-left: 200px;
	position: absolute;
}

#go
{
	background-image: url('PhotoBase/Mark/Goside.jpg');
	width: 100px;
	height: 80px;
	border-radius: 200px;
	margin-right: 200px; 
	float: right;
}

#boton
{
	background-color: black; 
	margin: auto 0px;
	margin-left: 325px; 
	margin-top: 0px;
	display: inline;
	width: 315px; 
	height: 80px;
	color: white;
	font-size: 25px;
	border-radius: 30px;
	border-color: inset 5px black;
	text-align: center;
	padding-top: 10px;
}

#carrito
{
	width: 50px;
	height: 50px;
	display: inline;
	float: right;
	border-radius: 200px;
	margin-top: -10px;
	margin-right: 20px;
}

#enviar
{
	background-color: black;
	color: white;
	width: 150px;
	height: 30px;
	margin: auto 0px;
	border-radius: 50px;
}