.head
{
	background-image: url('../PhotoBase/Mark/cityground.jpg');
	width: 1000px; 
	height: 200px;
	padding-top: 0px;
	border-bottom: solid 5px black;
}

a{
	list-style: none;
	text-decoration: none;
}


#p1{
	color: white;
	margin: auto; 
	font: oblique bold 50% cursive;
	font-size: 50px;
}	

#fondo
{
	width: 480px;
	height: 150px;
}

#general
{
	display: inline;
	visibility: visible;
}

@keyframes cambio {
	from {margin-left: 0;}
	to {margin-left: 1000px;}
}

.card-text
{
	color: black;
	font-family: oblique bold;
	font-sze: 50px;
}

.card{
	width: 300px;
	display: flex;
}

.btn btn-primary{
	margin-left: 100px;
	float: right;
	display: flex-right;
	align-content: right;
}

#album
{
	background-color: black;
	height: 50px;	
	color: white;
	font: oblique bold 50% monospace;
	font-size: 40px;
}

#navbuton{
	background-color: dark;
	height: 50px; 
	border-top: solid 5px white;
	color: white;
	text-align: center;
	font-family: oblique bold 50% monospace;
}

.selector
{
	width: 60px;
	height: 60px;
	text-align: center;
	
}

/*MODAL SENCILLO
modal-container.active{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.modal-container img{
	z-index: 1;
}

.modal-container.active::after{
	content: '';
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.30);
	top: 0;
	left: 0;
	position: fixed;
	z-index: 0;
}*/

#texto
{
	color: black;
	font: oblique bold 50% monospace;
	font-size: 30px;
}

#myImg
{
	width: 300px;
	height: 350px;
	transition: 2s;
}

#myImg:hover
{
	width: 400px;
	height: 450px;
	border-color: solid 10px black;
}

#img01{
	width: 31em;
	height: 40em;
}

#back
{
	background-image: url('PhotoBase/Mark/Comeback.jpg');
	width: 100px;
	height: 80px;
	border-radius: 200px;
	margin-left: 200px;
	position: absolute;
}

#go
{
	background-image: url('PhotoBase/Mark/Goside.jpg');
	width: 100px;
	height: 80px;
	border-radius: 200px;
	margin-right: 200px; 
	float: right;
}

#boton
{
	background-color: black; 
	margin: auto 0px;
	margin-left: 325px; 
	margin-top: 0px;
	display: inline;
	width: 315px; 
	height: 80px;
	color: white;
	font-size: 25px;
	border-radius: 30px;
	border-color: inset 5px black;
	text-align: center;
	padding-top: 10px;
}

#carrito
{
	width: 50px;
	height: 50px;
	display: inline;
	float: right;
	border-radius: 200px;
	margin-top: -10px;
	margin-right: 20px;
}

#enviar
{
	background-color: black;
	color: white;
	width: 150px;
	height: 30px;
	margin: auto 0px;
	border-radius: 50px;
}